{{- if not (env "DOCKERIZED") -}}
fish_add_path /home/linuxbrew/.linuxbrew/bin
{{- end }}

if command -v bat > /dev/null
  set -x MANPAGER "sh -c 'col -bx | bat -l man -p'"
end

set -x XDG_CONFIG_HOME $HOME/.config
set -x XDG_CACHE_HOME $HOME/.cache
set -x EDITOR vim
set -x GOPATH $HOME/go

fish_add_path $GOPATH/bin
fish_add_path $HOME/.local/bin
fish_add_path $HOME/bin
fish_add_path $HOME/.cargo/bin
fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/sbin
fish_add_path /opt/homebrew/opt/libpq/bin

set -x GODEBUG asyncpreemptoff=1

set -gx HOMEBREW_NO_ANALYTICS 1

# fzf
set -gx FZF_CTRL_T_COMMAND "rg --files --hidden --follow --glob '!.git'"
set -gx FZF_DEFAULT_COMMAND "rg --files --hidden --follow --glob '!.git'"
set -gx FZF_DEFAULT_OPTS "--color=dark"

# fish bobthefish-theme config
set -g theme_date_format "+20%y/%m/%d %H:%M"
set -g theme_display_ruby no
set -g theme_nerd_fonts yes
set -g theme_newline_cursor yes

source (which env_parallel.fish)
