[defaults]
retry_files_enabled = false
callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.timer
stdout_callback = ansible.builtin.default
callback_result_format = yaml
show_task_path_on_failure = true

[callback_profile_tasks]
task_output_limit = 50
sort_order = descending
