---
- hosts: 127.0.0.1
  strategy: linear
  connection: local

  vars_files:
    - config.yaml

  roles:
    - name: common
      tags: common

    - name: fonts
      tags: fonts

    - name: dotfiles
      tags: dotfiles

    - name: fish
      tags: fish

    - name: neovim
      tags: neovim

    - name: lunarvim
      tags: lunarvim

    - name: asdf
      tags: asdf

    - name: go
      tags: go

    - name: docker
      tags: docker

    - name: tmux
      tags: tmux

    - name: system_defaults
      tags: system_defaults
