# set up aliases

{{- if (eq .chezmoi.os "darwin") }}
if command -v gsed > /dev/null
  alias sed 'gsed'
end
{{- end }}

{{- if eq .chezmoi.os "linux" }}
# emulate pbcopy/pbpaste
alias pbcopy 'xclip -selection clipboard'
alias pbpaste 'xclip -selection clipboard -o'
{{- end }}

# lunarvim
alias vim lvim

# common
if command -v tree > /dev/null
  alias tree 'tree -a -I ".git|*.pyc|*pycache*"'
end

# eza
if command -v eza > /dev/null
  alias l="eza --icons"
  alias ls="eza --git --icons"
  alias la="eza --git -a --icons"
  alias ll="eza -lab --git --icons"
  alias tree="eza --tree --icons"
else
  alias l="ls"
  alias la="ls -a"
  alias ll="ls -al"
end

# bat
if command -v bat > /dev/null
  alias cat="bat --plain"
end

# git
alias gho 'gh browse'
alias gdc 'git diff --cached | vim -'
alias cdp 'cd (git rev-parse --show-toplevel)'

# rg
alias rg 'rg --hidden --follow --glob "!.git"'

# chezmoi
if command -v chezmoi > /dev/null
  alias d="chezmoi cd"
end

# toggle between audio devices
alias s 'command switch-audio'

alias assume 'source /usr/local/bin/assume.fish'
