layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:{{ .chezmoi.homeDir }}/.local/share/zellij/plugins/zjstatus.wasm" {
                format_left "{mode}#[fg=#89b4fa,bg=#181825,bold] {session}#[bg=#181825] {tabs}"
                format_right "{command_kubectx}#[fg=#45475a,bg=#181825] :: {command_kubens}{datetime}"
                format_space "#[bg=#181825]"

                mode_normal "#[bg=#89b4fa] "
                mode_tmux "#[bg=#fab387] "
                mode_scroll "#[bg=#a6e3a1] "
                mode_rename_tab "#[bg=#f9e2af] "
                mode_default_to_mode "normal"

                tab_normal "#[fg=#6c7086,bg=#181825] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
                tab_active "#[fg=#9399b2,bg=#181825,bold,italic] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
                tab_rename "#[fg=#f9e2af,bg=#181825,bold,italic] {index} {name} "
                tab_fullscreen_indicator "□ "
                tab_sync_indicator "  "
                tab_floating_indicator "󰉈 "
                tab_zero_based_index "false"

                command_kubectx_command "kubectx -c"
                command_kubectx_format "#[fg=#6c7086,bg=#181825,italic] {stdout}"
                command_kubectx_interval "2"

                command_kubens_command "kubens -c"
                command_kubens_format "#[fg=#6c7086,bg=#181825]{stdout} "
                command_kubens_interval "2"

                datetime "#[fg=#9399b2,bg=#181825] {format} "
                datetime_format "%a %d %b %H:%M"
                datetime_timezone "Europe/Warsaw"
            }
        }
    }
}
