---

#########################################
# General
#########################################

- name: "set sidebar icon size to medium"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSTableViewDefaultSizeMode
    type: int
    value: 2

- name: "always show scrollbar"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: AppleShowScrollBars
    type: string
    value: Always

- name: "disable the over-the-top focus ring animation"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSUseAnimatedFocusRing
    type: bool
    value: false

- name: "increase window resize speed for cocoa applications"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSWindowResizeTime
    type: float
    value: 0.001

- name: "save to disk (not to icloud) by default"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSDocumentSaveNewDocumentsToCloud
    type: bool
    value: false

- name: "disable the “are you sure you want to open this application?” dialog"
  community.general.osx_defaults:
    domain: com.apple.LaunchServices
    key: LSQuarantine
    type: bool
    value: false

- name: "disable automatic capitalization as it’s annoying when typing code"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSAutomaticCapitalizationEnabled
    type: bool
    value: false

- name: "disable smart dashes as they’re annoying when typing code"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSAutomaticDashSubstitutionEnabled
    type: bool
    value: false

- name: "disable automatic period substitution as it’s annoying when typing code"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSAutomaticPeriodSubstitutionEnabled
    type: bool
    value: false

- name: "disable smart quotes as they’re annoying when typing code"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSAutomaticQuoteSubstitutionEnabled
    type: bool
    value: false

- name: "disable auto-correct"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSAutomaticSpellingCorrectionEnabled
    type: bool
    value: false

#########################################
# Finder
#########################################

- name: "allow quitting via ⌘ + q; doing so will also hide desktop icons"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: QuitMenuItem
    type: bool
    value: true

- name: "disable window animations and get info animations"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: DisableAllAnimations
    type: bool
    value: true

- name: "set desktop as the default location for new finder windows"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: NewWindowTarget
    type: string
    value: "PfDe"

- name: "set target path for new finder windows"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: NewWindowTargetPath
    type: string
    value: "file://{{ lookup('env', 'HOME') }}/Desktop/"

- name: "show icons for hard drives, servers, and removable media on the desktop"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowExternalHardDrivesOnDesktop
    type: bool
    value: true

- name: "show hard drive icons on desktop"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowHardDrivesOnDesktop
    type: bool
    value: true

- name: "show mounted servers on desktop"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowMountedServersOnDesktop
    type: bool
    value: true

- name: "show removable media on desktop"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowRemovableMediaOnDesktop
    type: bool
    value: true

- name: "show hidden files by default"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: AppleShowAllFiles
    type: bool
    value: true

- name: "show all filename extensions"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: AppleShowAllExtensions
    type: bool
    value: true

- name: "show status bar"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowStatusBar
    type: bool
    value: true

- name: "show finder path bar"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowPathbar
    type: bool
    value: true

- name: "display full posix path as finder window title"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: _FXShowPosixPathInTitle
    type: bool
    value: false

- name: "keep folders on top when sorting by name"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: _FXSortFoldersFirst
    type: bool
    value: true

- name: "when performing a search, search the current folder by default"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: FXDefaultSearchScope
    type: string
    value: "SCcf"

- name: "disable the warning when changing a file extension"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: FXEnableExtensionChangeWarning
    type: bool
    value: false

- name: "enable spring loading for directories"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: com.apple.springing.enabled
    type: bool
    value: true

- name: "remove the spring loading delay for directories"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: com.apple.springing.delay
    type: float
    value: 0

- name: "avoid creating .ds_store files on network or usb volumes"
  community.general.osx_defaults:
    domain: com.apple.desktopservices
    key: DSDontWriteNetworkStores
    type: bool
    value: true

- name: "don't write ds_store files on usb drives"
  community.general.osx_defaults:
    domain: com.apple.desktopservices
    key: DSDontWriteUSBStores
    type: bool
    value: true

# Four-letter codes for the other view modes: `icnv`, `clmv`, `glyv`
- name: "use list view in all finder windows by default"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: FXPreferredViewStyle
    type: string
    value: "Nlsv"

- name: "open disk images as read-only"
  community.general.osx_defaults:
    domain: com.apple.frameworks.diskimages
    key: auto-open-ro-root
    type: bool
    value: true

- name: "automatically open a new finder window when a volume is mounted"
  community.general.osx_defaults:
    domain: com.apple.frameworks.diskimages
    key: auto-open-ro-root
    type: bool
    value: true

- name: "open new windows for new removable disks"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: OpenWindowForNewRemovableDisk
    type: bool
    value: true

- name: "disable the warning before emptying the trash"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: WarnOnEmptyTrash
    type: bool
    value: false

#########################################
# Dock
#########################################

- name: "orient macos dock to the bottom of the screen"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: orientation
    type: string
    value: bottom

- name: "set the icon size of dock items to 42 pixels (big sur)"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: tilesize
    type: float
    value: 42
  when: ansible_facts['distribution_major_version'] == "11"

- name: "set the icon size of dock items to 42 pixels (monterrey)"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: tilesize
    type: float
    value: 42
  when: ansible_facts['distribution_major_version'] == "12"

- name: "remove the auto-hiding dock delay"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: autohide-delay
    type: float
    value: 0.0

- name: "remove the animation when hiding/showing the dock"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: autohide-time-modifier
    type: float
    value: 0.0

- name: "automatically hide and show the dock"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: autohide
    type: bool
    value: true

- name: "don’t show recent applications in dock"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: autohide
    type: bool
    value: true

- name: "change minimize/maximize window effect to scale"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: show-recents
    type: bool
    value: false

- name: "minimize windows into their application’s icon"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: mineffect
    type: string
    value: scale

- name: "enable spring loading (dragging items to app icons) for all dock items"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: enable-spring-load-actions-on-all-items
    type: bool
    value: true

- name: "show indicator lights for open applications in the dock"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: show-process-indicators
    type: bool
    value: true

- name: "don’t animate opening applications from the dock"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: launchanim
    type: bool
    value: false

- name: "speed up mission control animations"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: expose-animation-duration
    type: float
    value: 0.1

- name: "disable dashboard"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: mcx-disabled
    type: bool
    value: true

- name: "don’t show dashboard as a space"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: dashboard-in-overlay
    type: bool
    value: true

- name: "don’t automatically rearrange spaces based on most recent use"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: mru-spaces
    type: bool
    value: false

- name: "expand save panel by default"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSNavPanelExpandedStateForSaveMode
    type: bool
    value: true

- name: "auto-expand navigation panel for save modes"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSNavPanelExpandedStateForSaveMode2
    type: bool
    value: true

- name: "expand print panel by default"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: PMPrintingExpandedStateForPrint
    type: bool
    value: true

- name: "expand information for printing"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: PMPrintingExpandedStateForPrint2
    type: bool
    value: true

#########################################
# Activity Monitor
#########################################

- name: "show the main window when launching activity monitor"
  community.general.osx_defaults:
    domain: com.apple.ActivityMonitor
    key: OpenMainWindow
    type: bool
    value: true

- name: "visualize cpu usage in the activity monitor dock icon"
  community.general.osx_defaults:
    domain: com.apple.ActivityMonitor
    key: IconType
    type: int
    value: 5

- name: "show all processes in activity monitor"
  community.general.osx_defaults:
    domain: com.apple.ActivityMonitor
    key: ShowCategory
    type: int
    value: 0

- name: "sort activity monitor results by cpu usage"
  community.general.osx_defaults:
    domain: com.apple.ActivityMonitor
    key: SortColumn
    type: string
    value: "CPUUsage"

- name: "set activity monitor sorting direction"
  community.general.osx_defaults:
    domain: com.apple.ActivityMonitor
    key: SortDirection
    type: int
    value: 0

#########################################
# Screenshots
#########################################

- name: "disable shadow in screenshots"
  community.general.osx_defaults:
    domain: com.apple.screencapture
    key: disable-shadow
    type: bool
    value: true

- name: "remove date and time from the screenshot file names"
  community.general.osx_defaults:
    domain: com.apple.screencapture
    key: include-date
    type: bool
    value: false

- name: "save screenshots to the screenshots folder"
  community.general.osx_defaults:
    domain: com.apple.screencapture
    key: location
    type: string
    value: "~/Pictures/Screenshots"

- name: "display thumbnail after taking a screenshot"
  community.general.osx_defaults:
    domain: com.apple.screencapture
    key: show-thumbnail
    type: bool
    value: true

# other options: BMP, GIF, JPG, PDF, TIFF
- name: "save screenshots in png format"
  community.general.osx_defaults:
    domain: com.apple.screencapture
    key: type
    type: string
    value: "png"

#########################################
# Keyboard
#########################################

- name: "disable press-and-hold for keys in favor of key repeat"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: ApplePressAndHoldEnabled
    type: bool
    value: false

- name: "set a blazingly fast keyboard repeat rate"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: KeyRepeat
    type: int
    value: 1

- name: "set key repeat value"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: InitialKeyRepeat
    type: int
    value: 10

# (e.g. enable Tab in modal dialogs)
- name: "enable full keyboard access for all controls"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: AppleKeyboardUIMode
    type: int
    value: 3

#########################################
# Miscellaneous
#########################################

- name: "increase sound quality for bluetooth headphones/headsets"
  community.general.osx_defaults:
    domain: com.apple.BluetoothAudioAgent
    key: "Apple Bitpool Min (editable)"
    type: int
    value: 40

#########################################
# Safari
#########################################

- name: "don’t send search queries to apple"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: UniversalSearchEnabled
    type: bool
    value: false

- name: "enable apple universal search"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: UniversalSearchEnabled
    type: bool
    value: false

- name: "press tab to highlight each item on a web page"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: WebKitTabToLinksPreferenceKey
    type: bool
    value: true

- name: "webkit tabs to links"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: com.apple.Safari.ContentPageGroupIdentifier.WebKit2TabsToLinks
    type: bool
    value: true

# (note: this still hides the scheme)
- name: "show the full url in the address bar"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: ShowFullURLInSmartSearchField
    type: bool
    value: true

- name: "set safari’s home page to `about:blank` for faster loading"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: HomePage
    type: string
    value: "about:blank"

- name: "prevent safari from opening safe files automatically after downloading"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: AutoOpenSafeDownloads
    type: bool
    value: false

- name: "allow hitting the backspace key to go to the previous page in history"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: com.apple.Safari.ContentPageGroupIdentifier.WebKit2BackspaceKeyNavigationEnabled
    type: bool
    value: true

- name: "hide safari’s bookmarks bar by default"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: ShowFavoritesBar
    type: bool
    value: false

- name: "hide safari’s sidebar in top sites"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: ShowSidebarInTopSites
    type: bool
    value: false

- name: "disable safari’s thumbnail cache for history and top sites"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: DebugSnapshotsUpdatePolicy
    type: int
    value: 2

- name: "make safari’s search banners default to contains instead of starts with"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: FindOnPageMatchesWordStartsOnly
    type: bool
    value: false

- name: "enable continuous spellchecking on the web"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: WebContinuousSpellCheckingEnabled
    type: bool
    value: true

- name: "disable auto-correct"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: WebAutomaticSpellingCorrectionEnabled
    type: bool
    value: false

- name: "block pop-up windows"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: WebKitJavaScriptCanOpenWindowsAutomatically
    type: bool
    value: false

- name: "javascript cannot open windows automatically"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaScriptCanOpenWindowsAutomatically
    type: bool
    value: false

- name: "enable do not track"
  community.general.osx_defaults:
    domain: com.apple.safari
    key: SendDoNotTrackHTTPHeader
    type: bool
    value: true

- name: "don't use natural scrolling"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: com.apple.swipescrolldirection
    type: bool
    value: false

- name: "set light/dark mode automatically"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: AppleInterfaceStyle
    type: string
    value: Dark
