{{- $shell := "" -}}
{{- $tmux := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $shell = "/opt/homebrew/bin/fish" -}}
    {{- $tmux = "/opt/homebrew/bin/tmux" -}}
  {{- else if eq .chezmoi.arch "amd64" -}}
    {{- $shell = "/usr/local/bin/fish" -}}
    {{- $tmux = "/usr/local/bin/tmux" -}}
  {{- end -}}
{{- else if or (env "DOCKERIZED") (eq .chezmoi.os "linux") -}}
  {{- $shell = "/home/linuxbrew/.linuxbrew/bin/fish" -}}
  {{- $tmux = "/home/linuxbrew/.linuxbrew/bin/tmux" -}}
{{- end -}}

[bell]
command = "None"

[colors.primary]
foreground = "#ffffff"

[env]
TERM = "xterm-256color"

[font]
size = 14.0

[font.normal]
family = "FiraCode Nerd Font"

[scrolling]
history = 0

[window]
decorations = "none"
dynamic_padding = true
dynamic_title = true
startup_mode = "Maximized"

[terminal.shell]
program = "{{ $shell }}"
args = ["-lc", "tmux -u new-session -As main \";\" set-option -g detach-on-destroy off"]

[keyboard]
bindings = [
  { key = "N", mods = "Command", action = "CreateNewWindow" },
  { key = "Period", mods = "Alt", chars = "\u001B." },
  { key = "D", mods = "Alt", chars = "\u001Bd" },
  { key = "Tab", mods = "Control", command = { program = "{{ $tmux }}", args = ["select-window", "-t", "+"] } },  # Next window
  { key = "Tab", mods = "Shift|Control", command = { program = "{{ $tmux }}", args = ["select-window", "-t", "-"] } },  # Previous window
  { key = "F", mods = "Command", command = { program = "{{ $tmux }}", args = [ "copy-mode;", "command-prompt", "-i", "-I", "#{pane_search_string}", "-p", "(search down)", "send -X search-forward-incremental \"%%%\"" ] } },  # Search forward incrementally
  { key = "Key0", mods = "Command", command = { program = "{{ $tmux }}", args = ["select-window", "-t 0"] } },  # Switch to window 0
  { key = "Key1", mods = "Command", command = { program = "{{ $tmux }}", args = ["select-window", "-t 1"] } },  # Switch to window 1
  { key = "Key2", mods = "Command", command = { program = "{{ $tmux }}", args = ["select-window", "-t 2"] } },  # Switch to window 2
  { key = "Key3", mods = "Command", command = { program = "{{ $tmux }}", args = ["select-window", "-t 3"] } },  # Switch to window 3
  { key = "Key4", mods = "Command", command = { program = "{{ $tmux }}", args = ["select-window", "-t 4"] } },  # Switch to window 4
  { key = "Key5", mods = "Command", command = { program = "{{ $tmux }}", args = ["select-window", "-t 5"] } },  # Switch to window 5
  { key = "Key6", mods = "Command", command = { program = "{{ $tmux }}", args = ["select-window", "-t 6"] } },  # Switch to window 6
  { key = "Key7", mods = "Command", command = { program = "{{ $tmux }}", args = ["select-window", "-t 7"] } },  # Switch to window 7
  { key = "Key8", mods = "Command", command = { program = "{{ $tmux }}", args = ["select-window", "-t 8"] } },  # Switch to window 8
  { key = "T", mods = "Command", command = { program = "{{ $tmux }}", args = ["new-window", "-c", "#{pane_current_path}"] } },  # Create a new tmux window
  { key = "R", mods = "Command|Shift", command = { program = "{{ $tmux }}", args = ["command-prompt", "rename-session -- '%%'"] } },  # Rename session
  { key = "W", mods = "Command",  command = { program = "{{ $tmux }}", args = ["kill-window"] } },  # Kill window
  { key = "X", mods = "Command",  command = { program = "{{ $tmux }}", args = ["kill-pane"] } },  # Kill pane
  { key = "Key0", mods = "Command", action = "ResetFontSize" },
]
