window:
  dynamic_title: true

font:
  normal:
    family: FiraCode Nerd Font
  size: 12.0

bell:
  command: None

scrolling:
  history: 0

key_bindings:
  - key: N
    mods: Command
    action: CreateNewWindow
  - key: Period
    mods: Alt
    chars: "\x1b."
  - key: D
    mods: Alt
    chars: "\x1bd"
