{{- if (eq .chezmoi.os "darwin") -}}
  {{- if (eq .chezmoi.arch "arm64") -}}
SHELL: &SHELL /opt/homebrew/bin/fish
TMUX: &TMUX /opt/homebrew/bin/tmux
  {{- end }}
  {{- if (eq .chezmoi.arch "amd64") -}}
SHELL: &SHELL /usr/local/bin/fish
TMUX: &TMUX /usr/local/bin/tmux
  {{- end }}
{{- else }}
  {{- if or (env "DOCKERIZED") (eq .chezmoi.os "linux") -}}
SHELL: &SHELL /home/linuxbrew/.linuxbrew/bin/fish
TMUX: &TMUX /home/linuxbrew/.linuxbrew/bin/tmux
  {{- end }}
{{- end }}

env:
  TERM: xterm-256color

window:
  decorations: none
  startup_mode: Maximized
  dynamic_padding: true
  dynamic_title: true

colors:
  primary:
    foreground: '#ffffff'

font:
  normal:
    family: FiraCode Nerd Font
  size: 12.0

bell:
  command: None

scrolling:
  history: 0

shell:
  program: *SHELL
  args:
    - -lc
    - tmux -u new-session -As main ";" set-option -g detach-on-destroy off

key_bindings:
  - key: N
    mods: Command
    action: CreateNewWindow
  - key: Period
    mods: Alt
    chars: "\x1b."
  - key: D
    mods: Alt
    chars: "\x1bd"
  - { mods: Control, key: Tab, command: { program: *TMUX, args: ["select-window", "-t", "+"] }}
  - { mods: Shift|Control, key: Tab, command: { program: *TMUX, args: ["select-window", "-t", "-"] }}
  - { mods: Command, key: F, command: { program: *TMUX, args: [ copy-mode;, command-prompt, -i, -I, "#{pane_search_string}", -p, "(search down)", "send -X search-forward-incremental \"%%%\"" ] } }
  - { mods: Command, key: Key0, command: { program: *TMUX, args: [ select-window, -t 0 ] } }
  - { mods: Command, key: Key1, command: { program: *TMUX, args: [ select-window, -t 1 ] } }
  - { mods: Command, key: Key2, command: { program: *TMUX, args: [ select-window, -t 2 ] } }
  - { mods: Command, key: Key3, command: { program: *TMUX, args: [ select-window, -t 3 ] } }
  - { mods: Command, key: Key4, command: { program: *TMUX, args: [ select-window, -t 4 ] } }
  - { mods: Command, key: Key5, command: { program: *TMUX, args: [ select-window, -t 5 ] } }
  - { mods: Command, key: Key6, command: { program: *TMUX, args: [ select-window, -t 6 ] } }
  - { mods: Command, key: Key7, command: { program: *TMUX, args: [ select-window, -t 7 ] } }
  - { mods: Command, key: Key8, command: { program: *TMUX, args: [ select-window, -t 8 ] } }
  - { mods: Command, key: T, command: { program: *TMUX, args: [ new-window, -c, '#{pane_current_path}' ] } }
  - { mods: Command|Shift, key: R, command: { program: *TMUX, args: [ command-prompt, "rename-session -- '%%'" ] } }
  - { mods: Command, key: W, command: { program: *TMUX, args: [ kill-window ] } }
  - { mods: Command, key: X, command: { program: *TMUX, args: [ kill-pane ] } }
