{{- $shell := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $shell = "/opt/homebrew/bin/fish" -}}
  {{- else if eq .chezmoi.arch "amd64" -}}
    {{- $shell = "/usr/local/bin/fish" -}}
  {{- end -}}
{{- else if or (env "DOCKERIZED") (eq .chezmoi.os "linux") -}}
  {{- $shell = "/home/linuxbrew/.linuxbrew/bin/fish" -}}
{{- end -}}

[bell]
command = "None"

[colors.primary]
foreground = "#ffffff"

[env]
TERM = "xterm-256color"

[font]
size = 14.0

[font.normal]
family = "FiraCode Nerd Font"

[scrolling]
history = 0

[window]
decorations = "none"
dynamic_padding = true
dynamic_title = true
startup_mode = "Maximized"

[terminal.shell]
program = "{{ $shell }}"
args = ["-lc", "if test -n \"$ZELLIJ\"; exec {{ $shell }}; else exec {{ .chezmoi.homeDir }}/.local/bin/zellij attach --create main; end"]

[keyboard]
bindings = [
  { key = "Period", mods = "Alt", chars = "\u001B." },
  { key = "D", mods = "Alt", chars = "\u001Bd" },
  { key = "Tab", mods = "Control", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-next-tab"] } },
  { key = "Tab", mods = "Shift|Control", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-previous-tab"] } },
  { key = "1", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-tab", "1"] } },
  { key = "2", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-tab", "2"] } },
  { key = "3", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-tab", "3"] } },
  { key = "4", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-tab", "4"] } },
  { key = "5", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-tab", "5"] } },
  { key = "6", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-tab", "6"] } },
  { key = "7", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-tab", "7"] } },
  { key = "8", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-tab", "8"] } },
  { key = "9", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["go-to-tab", "9"] } },
  { key = "T", mods = "Command", chars = "\u0001c" },
  { key = "W", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["close-pane"] } },
  { key = "X", mods = "Command", command = { program = "{{ .chezmoi.homeDir }}/bin/zellij-action", args = ["close-pane"] } },
  { key = "=", mods = "Command", action = "IncreaseFontSize" },
  { key = "+", mods = "Command", action = "IncreaseFontSize" },
  { key = "-", mods = "Command", action = "DecreaseFontSize" },
  { key = "0", mods = "Command", action = "ResetFontSize" },
]
